<div class="labels" style="display: none;">
  <img src="/assets/timeline/icons/presentation.png" id="label-presentation">
  <img src="/assets/timeline/icons/warning.png" id="label-important">
  <img src="/assets/timeline/icons/document.svg" id="label-document">
</div>
<%= javascript_include_tag 'timeline/fabric.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/helpers', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/pattern', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/header', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/body', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/events', 'data-turbolinks-track' => true %>
<div style="overflow: scroll;">
  <canvas id="c" width="1600" height="500"></canvas>
</div>
<div class="legend">
Legenda: <div class="btn legend-btn btn-timeline-pending"></div> item pendente <div class="btn legend-btn btn-timeline-success"></div> item realizado com sucesso <div class="btn legend-btn btn-timeline-warning"></div> = item deve ser entregue em breve <div class="btn legend-btn btn-timeline-repproved"></div> = item reprovado
</div>
<%= javascript_tag do %>
  window.calendar = '<%= @calendar.to_json %>';
  window.json = <%= @json.to_json.html_safe %>;
  window.items = '<%= @items.to_json %>';
  set_timeline(<%= @timeline_id %>);
<% end %>