<div class="col-md-12">
  <h1 class="pull-left">Notícias</h1>
  <%= link_to glyph(:plus)+ ' Nova notícia', new_responsible_teacher_notice_path, class: "pull-right btn btn-primary" %>
</div>
<table class="table table-striped">
  <tr>
    <th>Caminho</th>
    <th>Título</th>
    <th>Ações</th>
  </tr>
  <% @notices.each do |notice| %>
  <tr>
    <td><%= "/#{notice.slug}" %></td>
    <td><%= notice.title %></td>
    <td>
      <%= link_to glyph(:pencil) + ' Editar', edit_responsible_teacher_notice_path(notice), class: "btn btn-warning btn-xs" %>
      <%= link_to glyph(:trash) + ' Excluir', responsible_teacher_notice_path(notice), class: 'btn btn-danger btn-xs', method: 'delete', data: { confirm: 'Tem certeza?' } %>
    </td>
  </tr>
  <% end %>
</table>