<legend>Orientações</legend>
<table class="table table-hovered">
    <tr>
        <th>Aluno</th>
        <th>TCC</th>
        <th>Semestre</th>
        <th>Ano</th>
    </tr>
    <% @tccs.each do |tcc| %>
    <tr>
        <td><a href="/responsavel/orientacoes/<%= tcc.id %>"><%= tcc.student.name %></a></td>
        <td><a href="/responsavel/orientacoes/<%= tcc.id %>"><%= tcc.base_timeline.tcc %></a></td>
        <td><a href="/responsavel/orientacoes/<%= tcc.id %>"><%= tcc.base_timeline.half %>º semestre</a></td>
        <td><a href="/responsavel/orientacoes/<%= tcc.id %>"><%= tcc.base_timeline.year %></a></td>
    </tr>
    <% end %>
</table>
