<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- Listagem de estudantes -->
    <div class="list-students">
        <legend>Gestão de professores</legend>
        <div class="row">
          <div class="col-md-4 pull-left text-left">
            <form action="<%= responsible_teacher_teachers_path %>" class="form-inline">
              <p>
                <%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
                <%= button_tag glyph(:search), class: 'btn btn-sm btn-inverse', type: 'submit', :name => nil %>
              </p>
            </form>
          </div>
          <div class="col-md-3 pull-right text-right">
            <%= link_to glyph(:plus) + ' Novo professor', "professores/new", class: 'btn btn-sm btn-primary' %>
          </div><br><br>
        </div>
        <div class="col-md-12">
          <%= "Mostrando #{@teachers.size} de #{@teachers.total_entries} resultados." %>
        </div>
        <table class="table table-hovered">
          <tr>
            <th>Nome</th>
            <th>Acesso</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
          <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.name %></td>
            <td><%= teacher.role.name %></td>
            <td><%= link_to glyph(:pencil) + ' Editar', edit_responsible_teacher_teacher_path(teacher), class: 'label label-warning' %></td>
            <td><%= link_to glyph(:trash) + ' Excluir', responsible_teacher_teacher_path(teacher), class: 'label label-danger', method: 'delete', data: { confirm: 'Tem certeza?' } %></td>
          </tr>
          <% end %>
        </table>
    </div>
    <div class="text-center">
      <%= will_paginate @teachers, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
