<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4 pull-right text-right">
      <%= link_to glyph(:plus)+' Marcar banca', new_responsible_teacher_bank_path, remote: true, class: 'btn btn-primary' %>
      <br><br>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <h3>Próximas bancas</h3>
    <table class="table table-striped fixed">
      <tr>
        <th>Data</th>
        <th>TCC</th>
        <th>Membros</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
      <% @next_banks.each do |bank| %>
        <tr>
          <td><%= bank.date.strftime('%d/%m/%Y') %></td>
          <td><%= bank.timeline.to_s %></td>
          <td><%= bank.teachers.map(&:name).join(', ') %></td>
          <td><%= t('banks.'+bank._type) %></td>
          <td><%= link_to glyph(:pencil) + ' Editar',  edit_responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-warning', remote: true %>&nbsp<%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-danger', method: 'delete', remote: true, data: {:confirm => 'Você tem certeza?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <h3>Bancas anteriores</h3>
    <table class="table table-striped fixed">
      <tr>
        <th>Data</th>
        <th>TCC</th>
        <th>Membros</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
      <% @prev_banks.each do |bank| %>
        <tr>
          <td><%= bank.date.strftime('%d/%m/%Y') %></td>
          <td><%= bank.timeline.to_s %></td>
          <td><%= bank.teachers.map(&:name).join(', ') %></td>
          <td><%= t('banks.'+bank._type) %></td>
          <% if !bank.approval %>
            <td>
              <%= link_to glyph(:pencil) + ' Editar',  edit_responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-warning', remote: true %>&nbsp;
              <%= link_to glyph(:ok) + ' Aprovar',  responsible_teacher_new_approval_path(bank.id), class: 'btn btn-xs btn-success', remote: true %>&nbsp;
              <%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-danger', method: 'delete', remote: true, data: {:confirm => 'Você tem certeza?'} %>
            </td>
          <% else %>
            <td>
              <%= link_to glyph(:pencil) + ' Editar',  edit_responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-warning', remote: true %>&nbsp;
              <%= link_to glyph(:ok) + ' Aprovação',  edit_responsible_teacher_approval_path(bank.approval.id), class: 'btn btn-xs btn-success', remote: true %>&nbsp;
              <%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-danger', method: 'delete', remote: true, data: {:confirm => 'Você tem certeza?'} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="text-center">
      <%= will_paginate @prev_banks, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
