<table class="table table-hovered">
    <tr>
        <th>TCC</th>
        <th>Título</th>
        <th>Anexo</th>
        <th>Aprovar</th>
        <th>Reprovar</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
        <td><%= item.timeline.to_s %></td>
        <td><%= item.item_base_timeline.title %></td>
        <td>
            <% if item.file? %>
                <%= link_to "Anexo", item.file.url, target: '_blank' %>
            <% end %>
        </td>
        <% if item.status_item.id == 3 %>
            <td><button class="btn btn-xs btn-success" disabled="true">Aprovado</button></td>
        <% else %>
            <td><%= link_to 'Aprovar', teachers_approve_path(item.timeline, item.item_base_timeline), class: 'btn btn-xs btn-success' %></td>
        <% end %>
        <% if item.status_item.id == 4 %>
            <td><button class="btn btn-xs btn-danger" disabled="true">Reprovado</button></td>
        <% else %>
            <td><%= link_to 'Reprovar', teachers_repprove_path(item.timeline, item.item_base_timeline), class: 'btn btn-xs btn-danger', remote: true %></td>
        <% end %>
    </tr>
    <% end %>
</table>
<div class="text-center">
  <%= will_paginate @items, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
</div>