<%= javascript_include_tag 'app/tcc1/timelines', 'data-turbolinks-track' => true %>
<br><div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <label>Ano: </label>
            <select class="form-control" name="year">
              <% (2015..2025).each do |n| %>
                <option <%= params[:year] == n.to_s ? 'selected' : '' %>><%= n %></option>
              <% end %>
            </select>
        </div>
        <div class="col-md-2">
            <label>Semestre</label><br>
            1ยบ <input type="radio" value="1" name="half" <%= params[:half] == '1' ? 'checked' : '' %>>
            2ยบ <input type="radio" value="2" name="half"<%= params[:half] == '2' ? 'checked' : '' %>>
        </div>
        <div class="col-md-2">
          <a href="#" class="go btn btn-info">Selecionar timelines</a>
        </div>
        <div class="links col-md-3 col-md-offset-1"></div>
    </div>
</div>
<br><br>