<div class="row header">
  <div class="col-md-12">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <!-- para dispositivos móveis -->
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">UTFPR - TCC</a>
      </div>
      <!-- para outros dispositivos -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= params[:action] == 'home' ? 'active' : '' %>"><a href="/responsavel" data-no-turbolink>Página inicial</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/students' ? 'active' : '' %>"><a href="/responsavel/academicos" data-no-turbolink>Acadêmicos</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/teachers' ? 'active' : '' %>"><a href="/responsavel/professores" data-no-turbolink>Professores</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/calendars' ? 'active' : '' %>"><a href="/responsavel/calendarios" data-no-turbolink>Calendários</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/timelines' ? 'active' : '' %>"><a href="/responsavel/timelines" data-no-turbolink>Timelines</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/orientations' ? 'active' : '' %>"><a href="/responsavel/orientacoes" data-no-turbolink>Orientações</a></li>
          <li class="<%= params[:controller] == 'app/responsibleteachers/banks' ? 'active' : '' %>"><a href="/responsavel/bancas" data-no-turbolink>Bancas</a></li>
          <!--<li><a href="#">Relatórios</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout" data-no-turbolink>Sair</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>