<div class="row header">
  <div class="col-md-12">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <!-- para dispositivos m칩veis -->
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">UTFPR - TCC</a>
      </div>
      <!-- para outros dispositivos -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= params[:action] == 'home' ? 'active' : '' %>"><a href="/responsavel" data-no-turbolink>P치gina inicial</a></li>
          <li class="<%= params[:action] == 'students' ? 'active' : '' %>"><a href="/responsavel/alunos" data-no-turbolink>Alunos</a></li>
          <li class="<%= params[:action] == 'teachers' ? 'active' : '' %>"><a href="/responsavel/professores" data-no-turbolink>Professores</a></li>
          <li class="<%= params[:action] == 'calendars' ? 'active' : '' %>"><a href="/responsavel/calendarios" data-no-turbolink>Calend치rios</a></li>
          <li class="<%= params[:action] == 'timelines' ? 'active' : '' %>"><a href="/responsavel/timelines" data-no-turbolink>Timelines</a></li>
          <!--<li><a href="#">Relat칩rios</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/responsavel/perfil" data-no-turbolink>Meus dados</a></li>
          <li><a href="/logout" data-no-turbolink>Sair</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>