<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4 pull-right text-right">
      <%= link_to glyph(:plus)+' Marcar banca', new_responsible_teacher_bank_path, remote: true, class: 'btn btn-primary' %>
      <br><br>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <h3>Próximas bancas</h3>
    <table class="table table-striped fixed">
      <tr>
        <th>Data</th>
        <th>TCC</th>
        <th>Membros</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
      <% @next_banks.each do |bank| %>
        <tr>
          <td><%= bank.date.strftime('%d/%m/%Y') %></td>
          <td><%= bank.timeline.to_s %></td>
          <td><%= bank.teachers.map(&:name).join(', ') %></td>
          <td><%= t('banks.'+bank._type) %></td>
          <td><%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-danger', method: 'delete', remote: true, data: {:confirm => 'Você tem certeza?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <h3>Bancas anteriores</h3>
    <table class="table table-striped fixed">
      <tr>
        <th>Data</th>
        <th>TCC</th>
        <th>Membros</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
      <% @prev_banks.each do |bank| %>
        <tr>
          <td><%= bank.date.strftime('%d/%m/%Y') %></td>
          <td><%= bank.timeline.to_s %></td>
          <td><%= bank.teachers.map(&:name).join(', ') %></td>
          <td><%= t('banks.'+bank._type) %></td>
          <td><%= link_to glyph(:ok) + ' Setar nota',  responsible_teacher_bank_note_path(bank), class: 'btn btn-xs btn-success', remote: true %>&nbsp;<%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_bank_path(bank), class: 'btn btn-xs btn-danger', method: 'delete', remote: true, data: {:confirm => 'Você tem certeza?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><h3>Salvar banca</h3></div>
        <div class="modal-body"></div>
    </div>
  </div>
</div>