<%= javascript_include_tag 'timeline/fabric.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/helpers', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/pattern', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/header', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/body', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/events', 'data-turbolinks-track' => true %>
<%= render 'header' %>
<div class="row">
  <div class="col-md-12 text-right">
    <%= link_to glyph(:plus)+' Nova timeline', new_responsible_teacher_timeline_path, remote: true, class: 'btn btn-primary' %><br><br>
  </div>
</div>
<% if @timelines.size > 0 %>
  <table class="table table-hovered">
    <th>Nome</th>
    <th>Orientador(es)</th>
    <th>Tema</th>
    <th>Ver timeline</th>
    <th>Ações</th>
    <% @timelines.each do |timeline| %>
    <tr>
      <td><%= timeline.student.name %></td>
      <td><%= truncate(timeline.teachers.map { |t| t.name }.join(', '), length: 35) %></td>
      <td><%= truncate(timeline.title, length: 45) %></td>
      <td><%= link_to glyph(:list) + ' Ver',  responsible_teacher_timeline_path(timeline), class: 'btn btn-xs btn-success', remote: false %></td>
      <td>
        <%= link_to glyph(:pencil) + ' Editar', edit_responsible_teacher_timeline_path(timeline), class: 'btn btn-xs btn-warning', remote: true %>
        <%= link_to glyph(:trash) + ' Excluir',  responsible_teacher_timeline_path(timeline), class: 'btn btn-xs btn-danger', method: 'delete' %>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  <h3>Não há timelines a serem mostradas.</h3>
<% end %>
