<h2>Orientações</h2>
<div class="row">
  <div class="col-md-6 pull-right text-right">  
  <p>
    <form action="<%= teachers_orientacoes_path %>" class="form-inline search-form">
      <%= text_field_tag :search, params[:search], class: 'form-control input-sm', placeholder: "Buscar acadêmico" %>
      <%= button_tag glyph(:search), class: 'btn btn-sm btn-inverse', type: 'submit', :name => nil %>
    </form>
    </p>
  </div>
</div>
<table class="table table-hovered">
    <tr>
        <th>Aluno</th>
        <th>TCC</th>
        <th>Semestre</th>
        <th>Ano</th>
        <th>Orientações</th>
    </tr>
    <% @tccs.each do |tcc| %>
    <tr onclick="window.location.href = '/professor/orientacoes/timeline/<%= tcc.id %>'" style="cursor: pointer;">
        <td><%= tcc.student.name %></td>
        <td><%= tcc.base_timeline.tcc %></td>
        <td><%= tcc.base_timeline.half %>º semestre</td>
        <td><%= tcc.base_timeline.year %></td>
        <td><%= Orientation.where(timeline: tcc).count %></td>
    </tr>
    <% end %>
</table>
<div class="row">
  <div class="col-md-4">
    <%= "Mostrando #{@tccs.length} de #{@tccs.total_entries} resultados." %>
  </div>
  <div class="col-md-8 pull-right text-right">
    <%= will_paginate @tccs, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
  </div>
</div>