<!DOCTYPE html>
<html>
<head>
  <title>TCC UTFPR</title>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-resource.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/message-center', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/app', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'responsible_teacher/responsible_teacher.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-app="Application">
  <%= render :partial => 'layouts/admin/header_responsible_teacher' %>
  <div class="messages" ng-controller="FlashController as ctrl" mc-messages></div>
<%= yield %>
<%= render :partial => 'layouts/admin/footer' %>
</div>
</body>
</html>
