<!DOCTYPE html>
<html>
<head>
  <title>TCC UTFPR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/message-center', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app/app', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'responsible_teacher/responsible_teacher.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-app="Application">
  <%= render :partial => 'layouts/admin/header_responsible_teacher' %>
  <br><br><div class="row">
    <div class="col-md-12">
        <% flash.each do |key, value| %>
            <%= content_tag :div, value.size ? value[1] : value, class: "alert alert-#{key}" %>
        <% end %>
    </div>
  </div>
  <div class="messages" mc-messages></div>
<%= yield %>
<%= render :partial => 'layouts/admin/footer' %>
</div>
</body>
</html>
