<div>
    <legend>Entrega de documentos</legend>
    <h3>Gostaria de entregar o seguinte documento:</h3>
    <form method="POST" enctype="multipart/form-data" action="<%= student_delivery_item_path(@item_timeline.id) %>">
        <table class="table table-bordered">
            <tr>
                <td>Documento:</td>
                <td><%= @item_base.title %></td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td><%= @item_base.description %></td>
            </tr>
            <tr>
                <td>Anexo: (só são aceitos arquivos .pdf e .jpg)</td>
                <td>
                    <%= file_field :item, :file, class: 'form-control', accept: 'application/pdf,/image/png,image/gif,image/jpeg' %>
                    <br>
                    <% if @item_timeline.file? %>
                        <%= link_to @item_timeline.file_file_name, @item_timeline.file.url, target: '_blank' %>
                    <% end %>
                </td>
            </tr>
        </table>
        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-4 col-md-offset-1">
            <button id="save" name="save" type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
    </form>
</div>