<% approveds.keys.sort.reverse.each do |year| %>

  <article class="text-content">
  <header class="page-header">
    <h3><%= year %></h3>
  </header>	

  <% approveds[year].each do |approval| %>
    <div class="text-content">
      <ul class="tcc-approved">
        <li>
          <%= link_to approval.bank.timeline.title, approval.file.url, target: '_blank' %>
        </li>
        <li>
          <strong>Acadêmico: </strong><%= approval.bank.student.name %>
      </li>
        <li>
          <strong>Orientador (es): </strong> <%= approval.bank.advisors %>
      </li>
        <li>
          <span>Baixar:&nbsp;</span>
          <ul>
            <%= link_to_if_exists approval.file_file_name,
              type, approval, target: '_blank' %>

            <%= link_to_if_exists approval.complementary_file_file_name,
              'Arquivos complementares', approval, target: '_blank' %>
          </ul>
          </li>
        </ul>
    </div>
  <% end %>

  </article>

<% end %>
