<% site_title 'TCCs Aprovados' %>
<div class="row">

  <div class="col-sm-12">

    <header class="page-header">
      <h2>TCCs Aprovados</h2>
    </header>
    <div class="row">
      <div class="col-md-12">
        <%= "Mostrando #{@_approveds.length} de #{@_approveds.total_entries} resultados." %>
      </div>
    </div>
      
      <% @year_approveds.each do |approvals| %>
      <article class="text-content">
          <header class="page-header">
            <h3><%= approvals[0].to_s %></h3>
          </header>	
          <% approvals[1].each do |approval| %>
          <div class="text-content">
            <p>
              <%= link_to approval.bank.timeline.title, approval.file.url, target: '_blank' %>
              <br />
              <%= type_bank(approval.bank) %>
              <br />
            <strong>Acadêmico: </strong><%= approval.bank.timeline.student.name %><br />
            <strong>Orientador (es): </strong> <%= approval.bank.timeline.teachers.map { |t| t.name }.join(', ') %><br />
            </p>
          </div>
          <% end %>

        </article>
      <% end %>

      <div class="text-center">
        <%= will_paginate @_approveds, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
      </div>

  </div> 

</div>