<div class="labels" style="display: none;">
  <img src="/assets/timeline/icons/presentation.png" id="label-presentation">
  <img src="/assets/timeline/icons/warning.png" id="label-important">
  <img src="/assets/timeline/icons/document.svg" id="label-document">
</div>
<br><br><div style="overflow: scroll;">
  <canvas id="c" width="1600" height="500"></canvas>
</div>
<%= javascript_tag do %>
  window.calendar = '<%= @tcc_calendar.to_json %>';
  window.json = <%= @tcc_json.to_json.html_safe %>;
  window.items = '<%= @tcc_items.to_json %>';
<% end %>

<%= javascript_include_tag 'timeline/fabric.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/helpers', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/pattern', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/header', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'timeline/view/body', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'site/events', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'site/calendars', 'data-turbolinks-track' => true %>