<legend>Orientações</legend>
<div class="col-md-12">
  <%= "Mostrando #{@orientations.length} de #{@orientations.total_entries} resultados." %>
</div>
<table class="table table-bordered">
    <tr>
        <th>Data de criação</th>
        <th>TCC</th>
        <th>Título da orientação</th>
        <th>Detalhar</th>
    </tr>
    <% @orientations.each do |orientation| %>
    <tr>
        <td><%= orientation.date.strftime("%d/%m/%Y") %></td>
        <td><%= orientation.timeline.student.name+' - TCC '+orientation.timeline.base_timeline.tcc+' - '+orientation.timeline.base_timeline.year.to_s %></td>
        <td><%= orientation.title %></td>
        <td><a href="/responsavel/orientacao/<%= orientation.id %>"><span class="glyphicon glyphicon-list-alt"></a></span></td>
    </tr>
    <% end %>
</table>
<div class="text-center">
  <%= will_paginate @orientations, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
</div>