<legend>Orientações</legend>
<table class="table table-hovered">
    <tr>
        <th>Aluno</th>
        <th>TCC</th>
        <th>Semestre</th>
        <th>Ano</th>
    </tr>
    <% @tccs.each do |tcc| %>
    <tr onclick="window.location.href = '/responsavel/orientacoes/<%= tcc.id %>'" style="cursor: pointer;">
        <td><%= tcc.student.name %></td>
        <td><%= tcc.base_timeline.tcc %></td>
        <td><%= tcc.base_timeline.half %>º semestre</td>
        <td><%= tcc.base_timeline.year %></td>
    </tr>
    <% end %>
</table>
<div class="text-center">
  <%= will_paginate @tccs, :previous_label => "&laquo; Anterior", :next_label => "Próxima &raquo;", renderer: BootstrapPagination::Rails %>
</div>
